@import url(https://fonts.googleapis.com/css?family=Ubuntu);
body {
	margin-left:auto;
	margin-right:auto;
	font-size: 20;
	text-align: center;
	padding-top:10;
	font-family: Ubuntu;
	background: #424242;
	color: #FAFAFA;
}
#map_canvas {
	margin: auto;
	
}
#googft-info-window {
	background: #424242;
	
	
}
