
body {
	text-align:center;
	padding: 0px;
	margin: 0;
	background-image: url(../pictures/DSC_0060.png);
	color: black;

}
html, body, #map {
	height:700px;
	width: 1100px;
	padding: 0;
	margin: auto;
}

#header {
	
	padding: 15px;
	font-family: sans-serif;


}
#tagline {
	
	font-family: sans-serif;
}
#footer {
	
	clear:both;
}
th {
	text-align: left;
	vertical-align: top;
}
.info {
	padding: 6px 8px;
	font: 14px/16px , Arial,  Helvetica, sans-serif;
	background: white;
	background: rgba(237,237,236,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h2 {
	margin: 0 0 5px;
	color: #777;
}
.leaflet-container {
	background: #fff;